@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
  background: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:focus {
  outline: none;
}

.is-empty::before {
  content: attr(data-placeholder);
  color: #999; 
  pointer-events: none;
  height: 0;
}

.editor-content {
  position: relative;
  padding-right: 40px;
}

.editor-content svg {
  cursor: pointer;
}

.absolute-svg {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}